/*much this page was not in a semantic structure, liberty was taken in deleting, renaming and re-organizing CSS selectors and properties*/

/*controls box type and orientation of elements across page*/
* {
    box-sizing: border-box;             /*allows child containers to fit inside parent ones seamlessly, allocating for padding, margin, border all at once*/
    padding: 0;                         /*padding and margin set to 0 by default to allow the border-box designation easier functionality*/
    margin: 0;
}

/*body designs go here*/
body {
    background-color: #d9dcd6;/*background colo for body and child elements*/
}

/*top bar start*/
.header {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #ffffff;                    /*font color change*/
    background-color: #2a607c;         /*color found at the top bar of the screen*/
    padding: 20px;                       /*space designated around the header element*/  
}

.header h1 {
    display: inline-block;                /*allows element to be displayed respecting margin and padding*/
    font-size: 48px;
}

.header h1 .seo {
    color: #d9dcd6;                    /*changing font color middle of header*/
}

/*hyperlinks styling*/
.header nav {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    float: right;                       /*floats our list items to right within/relative to parent element*/
    padding-top: 15px;                  /* padding designated for inline-block nav portion */
    margin-right: 20px;                 /* margin designated for inline-block nav portion */ 
}

.header nav ul li {
    display: inline-block;              /*see line 25 notation*/
    margin-left: 25px;                  /*gives space between list items, which is needed as they are designated to be inline-block*/
}

a {
    color: #ffffff;                   /*font color*/
    text-decoration: none;              /*removes underline from links! very useful trick*/
}
/*top bar end*/

/*large image in center of page*/
#hero {                                 /*i changed this to an ID as it is only used once for the page*/
    background-image: url("../images/digital-marketing-meeting.jpg");
    background-size: cover;
    background-position: center;
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
}

/*main section start*/
.content {
    display: inline-block;
    width: 75%;
    margin-left: 20px;
}

.float-left {
    float: left;
    margin-right: 25px;
}

.float-right {
    float: right;
    margin-left: 25px;
}

p {
    font-size: 16px;                    /*paragraph font size*/
}

.main-section {                         /*consolidated from 3 blocks of code into this single, renamed class*/
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #ffffff;
    background-color: #0072bb;
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
}

.main-section img {                     /*consolidated from 3 blocks of code into this single, renamed class*/
    max-height: 200px;                  /*size of images in main sections*/
}

.main-section h2 {                      /*consolidated from 3 blocks of code into this single, renamed class*/
    margin-bottom: 20px;
    font-size: 36px; 
}
/*main section end*/

/*sidebar styling start*/
.benefits {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: center;
    background-color: #2589bd;
    color: #ffffff;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    margin-right: 20px;
    padding: 20px;
}

.benefit-bar {                          /*removed 2 redundant blocks of code and renamed this one*/
    margin-bottom: 32px;
}

.benefit-bar h3 {                       /*removed 2 redundant blocks of code and remaned this one for all 3*/
    margin-bottom: 10px;
}

.benefit-bar img {                      /*removed 2 redundant blocks of code and renamed this one to fit all 3 images with a single class*/
    display: block;
    max-width: 150px;
    margin: 10px auto;
}
/*sidebar end*/

/*footer*/
.footer {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
    clear: both;
    padding: 30px;   
}

.footer h2 {
    font-size: 20px;
}
/*footer*/
